@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import './Variables.scss'; 
body{
    background-color: black;
    max-width: 1366px;
    margin: auto;
    color:red;
    header{
        display: grid;
        grid-template-columns: auto auto;
        max-width: 1186px;
        margin: calc(0px + (32 - 0) * ((100vw - 320px) / (1366 - 320))) auto auto auto;
        border: 2px solid red;
        >div{
            border: 3px solid blue;
        }
        .MobMenuOpener{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10px;
            span{
                font-size: 25px;
            }
        }
        .logo{
            display: flex;
            justify-content: flex-end;
            padding-right: 15px;
            img{
                width: 75px;
                height: 76px;
            }
        }
        .PCMenu{
            display: none;
            justify-content: center;
            align-items: center;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li{
                float: left;
                margin: 8px 16px;
                text-transform: uppercase;
                @include FontFamily('Montserrat', normal,500,12px,15px,#FFFFFF);
            }
        }
        }
        .headerRegister{
            display: none;
        }
    }
}

@media all and(min-width:768px) {
    body{
        header{
            grid-template-columns: auto auto auto;
            > div{
                border: 3px solid blue;
            }
            .MobMenuOpener{
                display: none;
            }
            .logo{
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
            .PCMenu{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .headerRegister{
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    @include registerButton(187px,56px,50px,#FFD540,2px,#FFD540,transparent);
                    @include FontFamily('Montserrat', normal,600,14px,17.07px,#FFD540);
                    text-transform: uppercase;
                }
            }
        }
    }
    
}