/*Font Variable*/

@mixin FontFamily($fontFamily,$fontStyle,$fontWeight,$fontSize,$lineHeight,$fontColor){
    font-family: $fontFamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color:$fontColor;
}



@mixin registerButton($width, $height,$borderRadius,$color,$borderWidth,$borderColor,$backgroundColor) {
    width: $width;
    height:$height;
    border-radius: $borderRadius;
    color:$color;
    border:$borderWidth solid $borderColor;
    background-color: $backgroundColor;
  }